<template>
  <div
    :class="[
      'slider-image',
      'slider-image--' + size,
      pagePosition,
      { blur: blur },
    ]"
    :style="styles"
  >
    <div :class="[{ 'slider-image__background-dark': dark }]" />
    <div class="slider-image__page" v-if="images.length > 2">
      <div
        :class="['slider-image__page__item', { index: index === i }]"
        v-for="(item, i) of images"
        :key="item"
        @click="() => startTurn(i)"
      />
    </div>
    <div class="slider-image__content">
      <slot />
    </div>
  </div>
</template>

<script lang="ts">
import type { PropType } from "vue";
import {
  defineComponent,
  ref,
  computed,
  onMounted,
  onBeforeUnmount,
} from "vue";

export default defineComponent({
  name: "slider-image",
  props: {
    images: {
      type: Array as PropType<string[]>,
      default: () => [],
    },
    blur: {
      type: Boolean,
      default: false,
    },
    dark: {
      type: Boolean,
      default: false,
    },
    size: {
      type: String as PropType<"medium" | "smail">,
      default: "smail",
    },
    pagePosition: {
      type: String as PropType<"top" | "left" | "right" | "bottom">,
      default: "bottom",
    },
  },
  setup(props) {
    const index = ref(0);
    let timer: number | undefined = undefined;
    const styles = computed(() => ({
      backgroundImage: `url(${props.images[index.value]})`,
    }));
    const startTurn = (i?: number) => {
      clearTimeout(timer);
      if (i !== undefined) {
        index.value = i;
      }
      timer = setTimeout(() => {
        index.value++;
        if (index.value >= props.images.length) {
          index.value = 0;
        }
        startTurn();
      }, 8000);
    };

    onMounted(() => {
      startTurn();
    });

    onBeforeUnmount(() => {
      clearTimeout(timer);
    });

    return {
      index,
      startTurn,
      styles,
    };
  },
});
</script>

<style lang="scss" src="./main.scss"></style>
