<template>
  <div class="basic-drawer">
    <GDrawer
      :model-value="modelValue"
      @on-scroll="($event) => $emit('on-scroll', $event)"
    >
      <template #close-btn>
        <GButton
          shape="square"
          useMaterial
          :icon="closeProp.icon"
          @click="triggerShowDrawer"
          >{{ closeProp.label }}</GButton
        >
      </template>
      <slot></slot>
    </GDrawer>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from "vue";
import GDrawer from "@/components/g-drawer/main.vue";
import GButton from "@/container/GButton.vue";

export default defineComponent({
  name: "basic-drawer",
  components: {
    GDrawer,
    GButton,
  },
  props: {
    modelValue: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["update:modelValue", "on-scroll"],
  setup(props, { emit }) {
    const closeProp = computed(() => {
      return props.modelValue
        ? {
            icon: "visibility_off",
            label: "關閉列表",
          }
        : {
            icon: "visibility",
            label: "開啟列表",
          };
    });
    const triggerShowDrawer = () => {
      emit("update:modelValue", !props.modelValue);
    };
    return {
      closeProp,
      triggerShowDrawer,
    };
  },
});
</script>

<style lang="scss">
@import "~@/styles/_mixins-rwd";

.basic-drawer {
  .g-button {
    min-width: 120px;
    position: absolute;
  }
  .g-drawer__scroll {
    background-color: #fafbfd;
  }
  @include rwd(tablet, max, -1) {
    .g-drawer.left .g-button {
      left: 50%;
      bottom: 100%;
      margin-bottom: 16px;
      transform: translateX(-50%);
      margin-left: 0;
    }
    .g-drawer.left .g-drawer__main {
      max-width: 100%;
      width: 100%;
      transform: translateY(100%);
    }
    .g-drawer.is-show {
      .g-drawer__main {
        transform: translateY(20%);
        padding-bottom: 20%;
      }
    }
  }
  @include rwd(tablet) {
    .g-button {
      margin-top: 16px;
      margin-left: 16px;
      left: 100%;
    }
  }
}
</style>
