<template>
  <div :class="['bike-status', { 'is-disabled': disabled }]">
    <div :class="stationClasses">
      <div class="bike-status__total">{{ station }}</div>
      可租借
    </div>
    <div :class="availabilityClasses">
      <div class="bike-status__total">{{ availability }}</div>
      可歸還
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useBikeStatusClasses } from "@/utils/bike/bike-status";

export default defineComponent({
  name: "bike-status",
  props: {
    disabled: Boolean,
    station: {
      type: Number,
      default: 0,
    },
    availability: {
      type: Number,
      default: 0,
    },
  },
  setup(props) {
    const stationClasses = ["bike-status__item", "bike-status__station"];
    const availabilityClasses = [
      "bike-status__item",
      "bike-status__availability",
    ];

    const { getStationClass, getAvailabilityClass } = useBikeStatusClasses();

    stationClasses.push(getStationClass(props.station));
    availabilityClasses.push(getAvailabilityClass(props.availability));

    return {
      stationClasses,
      availabilityClasses,
    };
  },
});
</script>

<style lang="scss">
@import "~@/styles/_var";
.bike-status {
  display: flex;
  padding: 4px;
  font-size: 14px;

  &__item {
    flex: 1;
    text-align: center;
    position: relative;
    & + & {
      &:before {
        content: "";
        display: block;
        border: 1px solid rgba(8, 27, 44, 0.12);
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
      }
    }
  }

  &__station {
    &--success {
      color: $color-success;
    }
    &--danger {
      color: $color-danger;
    }
  }
  &__availability {
    &--success {
      color: $color-info;
    }
    &--danger {
      color: $color-danger;
    }
  }
  &.is-disabled {
    .bike-status__item {
      color: $color-font-secondary;
    }
  }
}
</style>
