<template>
  <GDropdown class="city-dropdown" @keydown.enter="onClickIcon">
    <span v-show="!!modelValue.CityName" class="city-dropdown__value">
      {{ modelValue.CityName }}
    </span>
    <span v-show="!modelValue.CityName" class="city-dropdown__placeholder">
      {{ placeholder }}
    </span>
    <Icon
      v-if="icon"
      :name="icon"
      @click.stop="onClickIcon"
      class="city-dropdown__icon"
    />
    <template #dropdown>
      <div class="city-dropdown__inset">
        <ul
          class="city-dropdown__list"
          v-for="item of cityList"
          :key="item.id"
          role="list"
        >
          <li class="city-dropdown__list__title">{{ item.label }}</li>
          <li
            v-for="itemList of item.cityCode"
            :key="itemList.CityCode"
            :class="['city-dropdown__list__item']"
          >
            <GButton
              :class="{ 'is-active': modelValue.City === itemList.City }"
              @click="() => updateModelValue(itemList)"
              role="option"
              shape="square"
            >
              {{ itemList.CityName }}
            </GButton>
          </li>
        </ul>
      </div>
    </template>
  </GDropdown>
</template>

<script lang="ts">
import { defineComponent, inject } from "vue";
import type { Ref, PropType } from "vue";
import GDropdown from "@/components/g-dropdown";
import Icon from "@/container/Icon.vue";
import GButton from "@/container/GButton.vue";
import { cityData, City, CityBlock, RegionType } from "@/shared/city";

export * as ICity from "@/shared/city";

export default defineComponent({
  name: "city-dropdown",
  components: {
    GDropdown,
    Icon,
    GButton,
  },
  props: {
    modelValue: {
      type: Object as PropType<City>,
      default: () => ({
        CityID: "",
        CityName: "",
        CityCode: "",
        City: "",
        CountyID: "",
        Version: "",
        Region: RegionType.North,
      }),
    },
    icon: String,
    placeholder: String,
  },
  emits: ["update:modelValue", "change", "click-icon"],
  setup(props, { emit }) {
    const componentName = inject<Ref<string>>("componentName");

    const updateModelValue = (value: City) => {
      emit("update:modelValue", value);
      emit("change", value);
    };
    const onClickIcon = () => {
      emit("click-icon");
    };
    const cityList: CityBlock[] = [
      {
        label: "北部",
        id: RegionType.North,
        cityCode: [],
      },
      {
        label: "東部",
        id: RegionType.East,
        cityCode: [],
      },
      {
        label: "中部",
        id: RegionType.Central,
        cityCode: [],
      },
      {
        label: "南部",
        id: RegionType.South,
        cityCode: [],
      },
      {
        label: "離島",
        id: RegionType.OutlyingIslands,
        cityCode: [],
      },
    ];

    for (const item of cityData) {
      const { Region, BikeService } = item;
      for (const block of cityList) {
        const pass =
          componentName &&
          componentName.value.indexOf("Bike") > -1 &&
          BikeService;
        if (pass && Region === block.id) {
          block.cityCode.push(item);
        }
      }
    }
    return {
      cityList: cityList.filter((city) => city.cityCode.length),
      updateModelValue,
      onClickIcon,
    };
  },
});
</script>

<style lang="scss">
@import "~@/styles/_mixins-style";

.city-dropdown {
  @include form-item();
  position: relative;

  &__placeholder {
    color: $color-font-secondary;
  }

  &__inset {
    padding: 16px;
  }
  &__list {
    margin-bottom: 4px;
    &__title {
      color: $color-font-assist;
      padding-bottom: 4px;
    }
    &__item {
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
}
</style>
