<template>
  <button
    :class="['g-button', 'is-' + type, 'is-' + shape, { 'is-active': active }]"
  >
    <Icon
      v-if="icon"
      :name="icon"
      @click="onClickIcon"
      class="g-button__icon"
      :useMaterial="useMaterial"
    />
    <slot></slot>
  </button>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Icon, { Name } from "@/container/Icon.vue";

type TypeKey = "default" | "icon";

export default defineComponent({
  name: "g-button",
  components: {
    Icon,
  },
  props: {
    type: {
      type: String,
      default: "default" as TypeKey,
    },
    shape: {
      type: String,
      default: "round" as "square" | "round",
    },
    icon: {
      type: String,
      default: "" as Name,
    },
    useMaterial: Boolean,
    active: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, { emit }) {
    const onClickIcon = () => {
      emit("click-icon");
    };
    return {
      onClickIcon,
    };
  },
});
</script>

<style lang="scss">
@import "~@/styles/_mixins-style";
.g-button {
  .icon {
    font-size: 18px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }

  &.is-default {
    .icon {
      margin-right: 4px;
    }
  }
  &.is-round {
    @include btn-style();
  }
  &.is-square {
    @include btn-style(square);
  }
}
</style>
