<template>
  <div :class="['g-card', { 'is-disabled': disabled }]">
    <div :class="['g-card__main', { 'is-hover': hover }]">
      <div class="g-card__header">
        <h3 class="g-card__title">{{ title }}</h3>
        <slot name="header-slot"></slot>
      </div>
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  name: "g-card",
  props: {
    title: String,
    disabled: Boolean,
    hover: Boolean,
  },
});
</script>

<style lang="scss">
@import "~@/styles/_var";

.g-card {
  text-align: left;
  &.is-disabled {
    pointer-events: none;
    opacity: 0.5;
    filter: grayscale(200%);
  }
  &__main {
    background-color: white;
    border-radius: $radius-xl;
    padding: 12px;
    line-height: 1.5;
    transition: $transition-time;
    &:hover {
      box-shadow: $shadow;
    }
    &.is-hover {
      box-shadow: $shadow;
    }
  }
  & + & {
    padding-top: 20px;
  }
  &__header {
    display: flex;
    padding-bottom: 8px;
  }

  &__title {
    flex: 60%;
    border-left: 3px solid $color-primary;
    padding-left: 12px;
    font-size: 18px;
  }
}
</style>
