<template>
  <span
    :class="[
      'icon',
      'icon-' + name,
      { 'material-icons-outlined': useMaterial && name },
    ]"
  >
    {{ useMaterial ? name : "" }}

    <template v-if="!useMaterial">
      <svg
        v-if="name === 'logo'"
        width="43"
        height="43"
        viewBox="0 0 43 43"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="19.5" cy="22.8192" r="19.5" fill="#FFB82E" />
        <rect
          x="6"
          y="19.9149"
          width="3.31915"
          height="4.14894"
          rx="1.65957"
          fill="#081B2C"
        />
        <rect
          x="29.234"
          y="19.9149"
          width="3.31915"
          height="4.14894"
          rx="1.65957"
          fill="#081B2C"
        />
        <path
          d="M26 26C26 29.3137 23.0899 32 19.5 32C15.9101 32 13 29.3137 13 26"
          stroke="#081B2C"
          stroke-width="1.4"
          stroke-linecap="round"
        />
        <path
          d="M13.2864 6.80377C14.2313 5.52704 16.8205 3.20352 19.619 4.12325C22.4175 5.04298 25.64 2.4514 26.9014 1.04064"
          stroke="#081B2C"
          stroke-width="1.4"
          stroke-linecap="round"
        />
        <path
          d="M14.9052 9.67041C15.85 8.39368 18.4393 6.07016 21.2378 6.98989C24.0363 7.90961 27.2588 5.31804 28.5202 3.90728"
          stroke="#081B2C"
          stroke-width="1.4"
          stroke-linecap="round"
        />
        <path
          d="M16.5241 12.537C17.4689 11.2603 20.0582 8.93673 22.8567 9.85646C25.6552 10.7762 28.8777 8.18461 30.1391 6.77386"
          stroke="#081B2C"
          stroke-width="1.4"
          stroke-linecap="round"
        />
      </svg>

      <svg
        v-else-if="name === 'logo-text'"
        width="160"
        height="43"
        viewBox="0 0 160 43"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="19.5" cy="22.8191" r="19.5" fill="#FFB82E" />
        <rect
          x="6"
          y="19.9149"
          width="3.31915"
          height="4.14894"
          rx="1.65957"
          fill="#081B2C"
        />
        <rect
          x="29.2341"
          y="19.9149"
          width="3.31915"
          height="4.14894"
          rx="1.65957"
          fill="#081B2C"
        />
        <path
          d="M26 26C26 29.3137 23.0899 32 19.5 32C15.9101 32 13 29.3137 13 26"
          stroke="#081B2C"
          stroke-width="1.4"
          stroke-linecap="round"
        />
        <path
          d="M13.2864 6.80383C14.2313 5.5271 16.8205 3.20358 19.619 4.12331C22.4175 5.04304 25.64 2.45146 26.9014 1.0407"
          stroke="#081B2C"
          stroke-width="1.4"
          stroke-linecap="round"
        />
        <path
          d="M14.9053 9.67041C15.8502 8.39368 18.4394 6.07016 21.2379 6.98989C24.0364 7.90961 27.2589 5.31804 28.5203 3.90728"
          stroke="#081B2C"
          stroke-width="1.4"
          stroke-linecap="round"
        />
        <path
          d="M16.524 12.537C17.4688 11.2603 20.0581 8.93673 22.8565 9.85646C25.655 10.7762 28.8775 8.18461 30.139 6.77386"
          stroke="#081B2C"
          stroke-width="1.4"
          stroke-linecap="round"
        />
        <path
          d="M63.0472 23.9252H55.2659L55.6995 21.7806H66.1175C65.7972 24.4447 64.7777 26.5697 63.0589 28.1556C61.348 29.7338 59.2073 30.5228 56.637 30.5228C54.1761 30.5228 52.2308 29.8119 50.8011 28.39C49.3792 26.9603 48.6683 25.015 48.6683 22.5541C48.6683 21.2181 48.8987 19.9564 49.3597 18.7689C49.8206 17.5736 50.4808 16.5228 51.3402 15.6166C52.223 14.6791 53.2386 13.972 54.387 13.4955C55.5433 13.0189 56.805 12.7806 58.1722 12.7806C60.2581 12.7806 61.9612 13.2845 63.2816 14.2924C64.6019 15.2924 65.5081 16.765 66.0003 18.7103H63.3402C62.9808 17.515 62.3558 16.597 61.4652 15.9564C60.5823 15.3158 59.4925 14.9955 58.1956 14.9955C56.2112 14.9955 54.555 15.7103 53.2269 17.14C51.8987 18.5619 51.2347 20.3588 51.2347 22.5306C51.2347 24.2728 51.7308 25.6674 52.723 26.7142C53.723 27.7611 55.0433 28.2845 56.6839 28.2845C58.1058 28.2845 59.3987 27.8861 60.5628 27.0892C61.7269 26.2924 62.555 25.2377 63.0472 23.9252ZM74.5827 19.1674C73.2702 19.1674 72.1764 19.6517 71.3014 20.6205C70.4342 21.5814 70.0006 22.808 70.0006 24.3002C70.0006 25.4564 70.36 26.4056 71.0788 27.1478C71.7975 27.89 72.7194 28.2611 73.8444 28.2611C75.1647 28.2611 76.278 27.7689 77.1842 26.7845C78.0905 25.8002 78.5436 24.5892 78.5436 23.1517C78.5436 21.9564 78.1842 20.9955 77.4655 20.2689C76.7467 19.5345 75.8014 19.1674 74.6295 19.1674H74.5827ZM67.5514 24.3002C67.5514 23.1908 67.7663 22.1517 68.1959 21.183C68.6256 20.2064 69.2506 19.351 70.0709 18.6166C70.6803 18.0619 71.3756 17.6439 72.1569 17.3627C72.9381 17.0814 73.778 16.9408 74.6764 16.9408C76.5045 16.9408 78.0006 17.5228 79.1647 18.6869C80.3366 19.8431 80.9225 21.3236 80.9225 23.1283C80.9225 24.1361 80.7389 25.101 80.3717 26.0228C80.0045 26.9447 79.485 27.7572 78.8131 28.4603C78.1725 29.1166 77.4186 29.6205 76.5514 29.972C75.6842 30.3236 74.7467 30.4994 73.7389 30.4994C71.9342 30.4994 70.4498 29.9174 69.2858 28.7533C68.1295 27.5892 67.5514 26.1049 67.5514 24.3002ZM96.7353 23.9252H88.9541L89.3877 21.7806H99.8056C99.4853 24.4447 98.4658 26.5697 96.747 28.1556C95.0361 29.7338 92.8955 30.5228 90.3252 30.5228C87.8642 30.5228 85.9189 29.8119 84.4892 28.39C83.0673 26.9603 82.3564 25.015 82.3564 22.5541C82.3564 21.2181 82.5869 19.9564 83.0478 18.7689C83.5088 17.5736 84.1689 16.5228 85.0283 15.6166C85.9111 14.6791 86.9267 13.972 88.0752 13.4955C89.2314 13.0189 90.4931 12.7806 91.8603 12.7806C93.9463 12.7806 95.6494 13.2845 96.9697 14.2924C98.29 15.2924 99.1963 16.765 99.6884 18.7103H97.0283C96.6689 17.515 96.0439 16.597 95.1533 15.9564C94.2705 15.3158 93.1806 14.9955 91.8838 14.9955C89.8994 14.9955 88.2431 15.7103 86.915 17.14C85.5869 18.5619 84.9228 20.3588 84.9228 22.5306C84.9228 24.2728 85.4189 25.6674 86.4111 26.7142C87.4111 27.7611 88.7314 28.2845 90.372 28.2845C91.7939 28.2845 93.0869 27.8861 94.2509 27.0892C95.415 26.2924 96.2431 25.2377 96.7353 23.9252ZM108.271 19.1674C106.958 19.1674 105.865 19.6517 104.99 20.6205C104.122 21.5814 103.689 22.808 103.689 24.3002C103.689 25.4564 104.048 26.4056 104.767 27.1478C105.486 27.89 106.408 28.2611 107.533 28.2611C108.853 28.2611 109.966 27.7689 110.872 26.7845C111.779 25.8002 112.232 24.5892 112.232 23.1517C112.232 21.9564 111.872 20.9955 111.154 20.2689C110.435 19.5345 109.49 19.1674 108.318 19.1674H108.271ZM101.24 24.3002C101.24 23.1908 101.454 22.1517 101.884 21.183C102.314 20.2064 102.939 19.351 103.759 18.6166C104.368 18.0619 105.064 17.6439 105.845 17.3627C106.626 17.0814 107.466 16.9408 108.365 16.9408C110.193 16.9408 111.689 17.5228 112.853 18.6869C114.025 19.8431 114.611 21.3236 114.611 23.1283C114.611 24.1361 114.427 25.101 114.06 26.0228C113.693 26.9447 113.173 27.7572 112.501 28.4603C111.861 29.1166 111.107 29.6205 110.24 29.972C109.372 30.3236 108.435 30.4994 107.427 30.4994C105.622 30.4994 104.138 29.9174 102.974 28.7533C101.818 27.5892 101.24 26.1049 101.24 24.3002ZM117.99 28.0033H120.029C121.443 28.0033 122.451 27.7611 123.052 27.2767C123.662 26.7845 123.966 25.9838 123.966 24.8744C123.966 24.0541 123.701 23.476 123.17 23.14C122.646 22.7963 121.713 22.6244 120.369 22.6244C120.041 22.6244 119.783 22.6283 119.595 22.6361C119.416 22.6361 119.252 22.64 119.103 22.6478L117.99 28.0033ZM122.841 13.097C124.248 13.097 125.353 13.4603 126.158 14.1869C126.97 14.9135 127.377 15.9017 127.377 17.1517C127.377 18.0736 127.127 18.8822 126.627 19.5775C126.127 20.2728 125.377 20.8549 124.377 21.3236C125.095 21.683 125.646 22.1908 126.029 22.847C126.412 23.4955 126.603 24.2455 126.603 25.097C126.603 25.8783 126.423 26.6205 126.064 27.3236C125.713 28.0189 125.213 28.6127 124.564 29.1049C124.064 29.4877 123.482 29.7611 122.818 29.9252C122.162 30.0814 121.185 30.1595 119.888 30.1595H115.06L118.377 13.097H122.841ZM119.525 20.3158C119.736 20.3392 119.943 20.3588 120.146 20.3744C120.357 20.3822 120.56 20.3861 120.755 20.3861C122.091 20.3861 123.099 20.14 123.779 19.6478C124.466 19.1556 124.81 18.4291 124.81 17.4681C124.81 16.7025 124.541 16.1517 124.002 15.8158C123.47 15.472 122.588 15.3002 121.353 15.3002C121.119 15.3002 120.939 15.3041 120.814 15.3119C120.689 15.3119 120.572 15.3197 120.463 15.3353L119.525 20.3158ZM130.721 17.2689H133.135L130.615 30.1595H128.189L130.721 17.2689ZM133.404 15.8275H130.978L131.506 13.097H133.932L133.404 15.8275ZM139.35 13.097L137.416 23.0814H137.627L142.854 17.2689H145.69L140.147 23.3627L144.248 30.1595H141.541L137.58 23.4447H137.334L136.045 30.1595H133.69L136.983 13.097H139.35ZM156.592 22.4017C156.397 21.3158 155.987 20.5033 155.362 19.9642C154.737 19.4174 153.897 19.1439 152.842 19.1439C151.835 19.1439 150.967 19.4213 150.241 19.976C149.514 20.5306 148.96 21.3392 148.577 22.4017H156.592ZM158.749 25.8588C158.139 27.3978 157.272 28.558 156.147 29.3392C155.022 30.1127 153.647 30.4994 152.022 30.4994C150.194 30.4994 148.702 29.9213 147.545 28.765C146.389 27.6088 145.811 26.1205 145.811 24.3002C145.811 23.1986 146.026 22.1595 146.456 21.183C146.885 20.2064 147.503 19.3588 148.307 18.64C148.94 18.0775 149.651 17.6556 150.44 17.3744C151.237 17.0853 152.085 16.9408 152.983 16.9408C154.858 16.9408 156.35 17.5345 157.46 18.722C158.577 19.9017 159.135 21.4994 159.135 23.515C159.135 23.7025 159.12 23.9994 159.088 24.4056V24.476H148.26C148.323 25.64 148.69 26.5658 149.362 27.2533C150.034 27.9408 150.897 28.2845 151.952 28.2845C152.905 28.2845 153.713 28.0892 154.378 27.6986C155.042 27.3002 155.604 26.6869 156.065 25.8588H158.749Z"
          fill="#081B2C"
        />
      </svg>

      <svg
        v-else-if="name === 'location'"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M13 3.06V1H11V3.06C6.83 3.52 3.52 6.83 3.06 11H1V13H3.06C3.52 17.17 6.83 20.48 11 20.94V23H13V20.94C17.17 20.48 20.48 17.17 20.94 13H23V11H20.94C20.48 6.83 17.17 3.52 13 3.06V3.06ZM12 19C8.13 19 5 15.87 5 12C5 8.13 8.13 5 12 5C15.87 5 19 8.13 19 12C19 15.87 15.87 19 12 19Z"
          fill="#081B2C"
        />
        <path
          d="M12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12C10 13.1046 10.8954 14 12 14Z"
          fill="#FFB82E"
        />
        <path
          d="M12 8C9.79 8 8 9.79 8 12C8 14.21 9.79 16 12 16C14.21 16 16 14.21 16 12C16 9.79 14.21 8 12 8ZM12 14C10.9 14 10 13.1 10 12C10 10.9 10.9 10 12 10C13.1 10 14 10.9 14 12C14 13.1 13.1 14 12 14Z"
          fill="#081B2C"
        />
      </svg>
    </template>
  </span>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export type Name =
  | ""
  | "logo"
  | "logo-text"
  | "location"
  | "restaurant"
  | "perm_media"
  | "alt_route"
  | "add"
  | "remove"
  | "visibility"
  | "visibility_off"
  | "search"
  | "close"
  | "location_on"
  | "add_ic_call"
  | "insert_link"
  | "add_business";

export default defineComponent({
  name: "icon",
  props: {
    name: {
      type: String,
      default: "" as Name,
    },
    useMaterial: {
      type: Boolean,
      default: true,
    },
  },
});
</script>

<style lang="scss">
.icon {
  border-radius: 50%;
  svg {
    width: 100%;
    height: 100%;
  }
}
</style>
