<template>
  <div class="layout-header g-content-padding">
    <h1
      class="layout-header__logo hader-padding"
      role="link"
      @click="() => $emit('click-menu-item', 'bike')"
    >
      <Icon name="logo" :useMaterial="false" />
      <Icon name="logo-text" :useMaterial="false" />
    </h1>

    <div class="search hader-padding">
      <SearchInput
        v-show="!showCityInput"
        :modelValue="queryKeyword"
        @update:modelValue="updateQueryKeyword"
        icon="search"
        placeholder="搜索地點"
        @click-icon="submitSearch"
      ></SearchInput>
      <CityDropdown
        v-show="showCityInput"
        :modelValue="queryCity"
        @update:modelValue="updateQueryCity"
        icon="search"
        placeholder="搜索地點"
        @click-icon="submitSearch"
      ></CityDropdown>
    </div>

    <div class="layout-menu" role="menu">
      <ul class="layout-menu__list">
        <GButton
          v-for="menu of menus"
          :key="menu.icon"
          class="layout-menu__list__item"
          role="menuitem"
          round
          :active="menu.to === componentName"
          @click="() => $emit('click-menu-item', menu.to)"
        >
          <Icon :name="menu.icon" />
          {{ menu.label }}
        </GButton>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed, inject, Ref } from "vue";
import Icon from "./Icon.vue";
import SearchInput from "./SearchInput.vue";
import CityDropdown, { ICity } from "./CityDropdown.vue";
import GButton from "./GButton.vue";

export default defineComponent({
  name: "layout-header",
  components: {
    Icon,
    SearchInput,
    CityDropdown,
    GButton,
  },
  emits: ["search", "click-menu-item"],
  setup(props, { emit }) {
    const componentName = inject<Ref<string>>("componentName");
    const queryCity = inject<ICity.City>("queryCity");
    const queryKeyword = inject<string>("queryKeyword");

    const updateQueryCity =
      inject<(value: ICity.City) => void>("updateQueryCity") || (() => ({}));
    const updateQueryKeyword =
      inject<(value: string) => void>("updateQueryKeyword") || (() => ({}));
    const menus = [
      {
        icon: "directions_bike",
        label: " YouBike",
        to: "Bike",
      },
      {
        icon: "alt_route",
        label: "自行車路線",
        to: "BikeShape",
      },
      {
        icon: "perm_media",
        label: "觀光景點",
        to: "ScenicSpot",
      },
      {
        icon: "restaurant",
        label: "餐廳",
        to: "Food",
      },
    ];
    const showCityInput = computed(() => componentName?.value === "Bike");
    const city = ref(queryCity);
    const submitSearch = () => {
      emit("search");
    };
    return {
      menus,
      city,
      showCityInput,
      submitSearch,
      queryCity,
      updateQueryCity,
      componentName,
      queryKeyword,
      updateQueryKeyword,
    };
  },
});
</script>

<style lang="scss">
@import "~@/styles/_mixins-rwd";
@import "~@/styles/_mixins-style";

.layout-header {
  display: flex;
  align-items: center;
  background-color: white;
  position: relative;
  z-index: 1000;

  .hader-padding {
    padding: 8px;
    @include rwd("pc") {
      padding: 20px;
    }
  }
  &__logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-right: 16px;

    .icon-logo {
      display: none;
      @include rwd("pc", max, -1) {
        display: block;
      }
    }
    .icon-logo-text {
      width: 120px;
      box-sizing: border-box;
      @include rwd("pc", max, -1) {
        display: none;
      }
    }
  }
  .search {
    position: relative;
    z-index: 1;
    flex-grow: 1;
    .icon:hover {
      transition: 0.4s;
      background-color: rgba(0, 0, 0, 0.1);
    }
    @include rwd("pc") {
      max-width: 500px;
    }
  }

  @include rwd("pc", max, -1) {
    flex-wrap: wrap;
  }
}
.layout-menu {
  @include rwd("pc", max, -1) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    @include rwd("pc", max, -1) {
      margin: auto;
      overflow-x: auto;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
    &__item {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      margin-right: 8px;
      .material-icons-outlined {
        cursor: pointer;
      }
      @include rwd("pc", max, -1) {
        margin: 8px;
        &.g-button {
          padding-top: 6px;
          padding-bottom: 6px;
        }
      }
    }
  }
}
</style>
