<script lang="ts" setup>
import type { PropType } from "vue";
import type { MapData } from "@/types/LMap";
import {
  ref,
  reactive,
  toRef,
  computed,
  defineProps,
  defineExpose,
  onMounted,
  onBeforeUnmount,
} from "vue";
import L from "leaflet";

// component vue
import GButton from "@/container/GButton.vue";

// utils
import {
  onLocationFound,
  locationError,
  onFoundUserLocate,
  onPopupopen,
  onPopupclose,
  handlerMarkerPop,
  createIcon,
} from "@/utils/leaflet-map";

const props = defineProps({
  mapData: {
    type: Array as PropType<MapData[]>,
    default: () => [],
  },
});
const mapData = toRef(props, "mapData");

const refIcon = ref();

const mapConfig = reactive({
  zoom: 8,
  maxZoom: 19,
  minZoom: 8,
  focusZoom: 11,
});

const isLoading = computed(() => loadingCount.value > 0);
const marketGroupDefault = L.markerClusterGroup({
  iconCreateFunction: function (cluster) {
    refIcon.value.dataset.childCount = cluster.getChildCount();

    return L.divIcon({ html: refIcon.value.outerHTML, iconSize: [32, 32] });
  },
});
let loadingCount = ref(0);
let lMap = ref();
let _markers = ref<L.Marker[]>([]);
let markersGroup = ref<L.MarkerClusterGroup>(marketGroupDefault);

/** 設置pop, 並返回一個pop，以決定是否打開 */
const usePop = (position: number[], Popup: string | (() => string)) => {
  const [PositionLat, PositionLon] = position;
  const pop = L.popup()
    .setLatLng(new L.LatLng(PositionLat, PositionLon))
    .setContent(Popup);
  const openPop = () => pop.openOn(lMap.value);
  return {
    pop,
    openPop,
  };
};

/** 用戶定位 */
const getUserLocate = () => {
  onFoundUserLocate(
    lMap.value,
    () => {
      loadingCount.value++;
    },
    (e: L.LocationEvent) => {
      onLocationFound(e, lMap.value);
      loadingCount.value--;
    },
    (e: L.ErrorEvent) => {
      locationError(e);
      loadingCount.value--;
    }
  );
};

/** 設置遠近 */
const setZoom = (zoom: number) => {
  mapConfig.zoom = lMap.value.getZoom() + zoom;
  lMap.value.setZoom(mapConfig.zoom);
};

/** 設置焦點 */
const setFocus = ({
  lat,
  lon,
  zoom = mapConfig.focusZoom,
}: {
  lat: number;
  lon: number;
  zoom: number;
}) => {
  lMap.value.setView(new L.LatLng(lat, lon), zoom);
};

/** 繪製 marker */
const rectMarker = (mapDataObj?: MapData<any>) => {
  _markers.value = [];
  const data = mapDataObj || mapData.value;
  for (const item of data) {
    const {
      MarkerClusterGroup,
      Position,
      Icon,
      Popup,
      PopupOptions = {},
    } = item;
    if (!Icon) {
      throw new Error("'Icon' 為必填");
    }

    if (Position.Marketers) {
      for (const market of Position.Marketers) {
        const [lat, lon] = market;
        const lMarker = L.marker(new L.LatLng(lat, lon), {
          icon: createIcon({ iconUrl: Icon(item) }),
        });

        if (Popup) {
          const open = handlerMarkerPop(onPopupopen, lMarker, item);
          const close = handlerMarkerPop(onPopupclose, lMarker, item);
          lMarker
            .bindPopup(Popup, PopupOptions)
            .on("popupopen", open)
            .on("popupclose", close);
        }
        let mk: L.Marker = lMarker;
        if (MarkerClusterGroup) {
          markersGroup.value.addLayer(lMarker);
        } else {
          mk = lMarker.addTo(lMap.value);
        }
        _markers.value.push(mk);
      }
    }
    if (Position.Polyline) {
      const { Polyline } = Position;
      const newMarker = L.polyline(Polyline, {
        color: "#005A7A",
      });

      let mk: L.Marker = newMarker;
      mk = newMarker.addTo(lMap.value);
      _markers.value.push(mk);
    }
  }
  lMap.value.addLayer(markersGroup.value);
};
/** 將指定 marker 的 pop 打開 */
const openPop = (lat: number, lon: number) => {
  for (const marker of _markers.value) {
    const { lat: markerLat, lng: markerLng } = marker.getLatLng();
    if (markerLat === lat && markerLng == lon) {
      marker.openPopup();
      return marker;
    }
  }
  return false;
};

/** 清空 marker */
const clearMarker = () => {
  console.log("clearMarker");
  for (const item of _markers.value) {
    item.off();
    item.closePopup();
    item.remove();
  }
  markersGroup.value.clearLayers();
  lMap.value.removeLayer(markersGroup.value);
  lMap.value.removeLayer(_markers.value);
};

/** 初始地圖 */
const initMap = () => {
  lMap.value = L.map("map", {
    zoomControl: false,
    /**
     * ## [NOTE] zoomAnimation
     * vue3 下，調用pop 會發生 Error("Cannot read property '_latLngToNewLayerPoint' of null")，設定為false, 取消過度，則不報錯
     * 參考來源: stackoverflow | https://stackoverflow.com/questions/65981712/uncaught-typeerror-this-map-is-null-vue-js-3-leaflet
     */
    zoomAnimation: false,
  }).setView(new L.LatLng(23.6, 121), mapConfig.zoom);
};

/** 繪製地圖 */
const addLayer = () => {
  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution:
      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    maxZoom: mapConfig.maxZoom,
    minZoom: mapConfig.minZoom,
  }).addTo(lMap.value);
};

defineExpose({
  rectMarker,
  setFocus,
  clearMarker,
  usePop,
  openPop,
});
onMounted(() => {
  // TODO 研究怎麼用leaflet..
  initMap();
  addLayer();
});
onBeforeUnmount(() => {
  clearMarker();
});
</script>

<template>
  <div class="l-map">
    <div ref="refIcon" class="marker-cluster-group">
      <span class="marker-cluster-group__count"></span>
    </div>
    <loading
      :active="isLoading"
      :is-full-page="false"
      color="#FFB82E"
      loader="bars"
    />
    <div class="l-map__tool">
      <GButton
        class="l-map__tool__control-btn"
        round
        type="icon"
        icon="location"
        @click="getUserLocate"
      ></GButton>
      <GButton
        class="l-map__tool__control-btn"
        round
        type="icon"
        icon="add"
        useMaterial
        @click="() => setZoom(1)"
      ></GButton>
      <GButton
        class="l-map__tool__control-btn"
        round
        type="icon"
        icon="remove"
        useMaterial
        @click="() => setZoom(-1)"
      ></GButton>
    </div>
    <div id="map"></div>
    <slot></slot>
  </div>
</template>

<style lang="scss">
@import "~@/styles/_var";
@import "~@/styles/_mixins-rwd";
* {
  //   outline: 1px solid red;
}
.l-map {
  position: relative;
  height: 100%;

  > .marker-cluster-group {
    display: none;
  }
  &__tool {
    position: absolute;
    right: 16px;
    z-index: 500;
    &__control-btn {
      display: block;
      box-shadow: $shadow;
      margin-top: 6px;
      margin-bottom: 6px;
      &:hover {
        box-shadow: $shadow;
      }
      @include rwd("pc", max, -1) {
        &.g-button.is-icon {
          width: 32px;
          height: 32px;
          font-size: 18px;
        }
      }
    }
  }
  #map {
    width: 100%;
    height: 100%;
    .leaflet-marker-icon {
      display: flex;
      background-color: rgba(0, 0, 0, 0);
    }
    .marker-cluster-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      justify-content: center;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0 0 0 6px $color-primary;
      .icon {
        // width: 14px; // logo使用
        // height: 12px;  // logo使用
        font-size: 12px;
      }
      &::after {
        content: attr(data-child-count);
        font-size: 12px;
      }
    }
  }
}
</style>
