<template>
  <div class="search-input">
    <input
      class="search-input__inner"
      :value="modelValue"
      @input="updateModelValue"
      @keydown.enter="onClickIcon"
      v-bind="$attrs"
    />
    <Icon
      v-if="icon"
      :name="icon"
      @click="onClickIcon"
      class="search-input__inner__icon"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Icon from "@/container/Icon.vue";

export default defineComponent({
  name: "search-input",
  components: {
    Icon,
  },
  props: {
    modelValue: String,
    icon: String,
  },
  emits: ["update:modelValue", "click-icon"],
  setup(props, { emit }) {
    const updateModelValue = ($event: Event) => {
      const el = $event.target as HTMLInputElement;
      emit("update:modelValue", el.value);
    };
    const onClickIcon = () => {
      emit("click-icon");
    };

    return {
      updateModelValue,
      onClickIcon,
    };
  },
});
</script>

<style lang="scss">
@import "~@/styles/_var";
@import "~@/styles/_mixins-style";

.search-input {
  display: inline-block;
  position: relative;
  width: 100%;
  &__inner {
    @include form-item();
  }
}
</style>
