<template>
  <BasicDrawer v-model="showDrawer" class="bike-shape" @on-scroll="handlerList">
    <div style="padding-bottom: 20px">
      <BikeShapeCard
        v-for="item of viewList"
        :key="item.Data.Geometry"
        :data="item.Data"
        :hover="item.Data.Geometry === activeBikeShape"
        @click-card="() => handlerMapView(item)"
      >
      </BikeShapeCard>
    </div>
    <!-- <BikeShapeCard> </BikeShapeCard> -->
  </BasicDrawer>
</template>

<script lang="ts">
import type { City } from "@/shared/city";
import type { MapData } from "@/types/LMap";
import type { CityQuery, BikeShape } from "@/api/types/bike";
import type { Ref } from "vue";

import { defineComponent, ref, inject, computed } from "vue";
import BasicDrawer from "@/container/BasicDrawer.vue";
import BikeShapeCard from "./BikeShapeCard.vue";

import useScrollPager from "@/utils/use-scroll-pager";
import { useCardContent } from "@/utils/bike/bike-shape-card";
import { getKeyword } from "@/api/utils/query";
import { geometryToPosition } from "@/utils/bike/geometry-to-position";
import { activeBikeShape } from "@/store/bike-shape-store";
import { cityData } from "@/shared/city";

import BikePoint from "@/assets/bike-point.svg";
import BikePointActive from "@/assets/bike-point-active.svg";

import { ApiBike } from "@/api";

export default defineComponent({
  name: "bike-shape",
  components: {
    BasicDrawer,
    BikeShapeCard,
  },
  setup(props, { expose, emit }) {
    const injectUpdateMapData =
      inject<(value: MapData[]) => void>("updateMapData");
    const queryCity = inject<City>("queryCity");
    const queryKeyword = inject<Ref<string>>("queryKeyword");
    const { handlerPage, pageIndex } = useScrollPager();

    let list = ref<MapData<BikeShape>[]>([]);
    const showDrawer = ref(false);
    const viewList = computed(() => list.value.slice(0, pageIndex.value * 10));

    const handlerList = (e: Event) => {
      handlerPage(e, list.value);
    };

    const handlerMapView = (bike: MapData<BikeShape>) => {
      const onClose = () => {
        activeBikeShape.value = "";
      };
      activeBikeShape.value = bike.Data.Geometry;
      // const { PositionLat, PositionLon } = bike.Data.StationPosition;
      emit("click-markerLine", bike);
    };

    const updateMapData = () => {
      injectUpdateMapData && injectUpdateMapData(list.value);
    };

    const reloadApi = async () => {
      if (!queryCity) {
        return;
      }

      list.value = [];

      for (const city of cityData) {
        const query: CityQuery = {
          City: city.City,
          $filter: queryKeyword?.value
            ? getKeyword(queryKeyword.value, [
                "RouteName",
                "City",
                "Town",
                "RoadSectionEnd",
                "RoadSectionStart",
              ])
            : "",
        };
        try {
          const data: BikeShape[] = await ApiBike.getCyclingShapeList(query);
          data.forEach((item, i) => {
            const { Geometry } = item;
            const Data = { ...item };
            const pop = useCardContent();
            const pt = geometryToPosition(Geometry);
            list.value.push({
              MarkerClusterGroup: false,
              MarkerViewAuto: false,
              Position: {
                Marketers: [pt[0], pt[pt.length - 1]],
                Polyline: pt,
              },
              Popup: pop(Data),
              PopupOptions: {
                className: "scenic-spot-pop",
              },
              Data,
              Icon: (data) => {
                return BikePoint;
              },
              IconActive: (data) => {
                return BikePointActive;
              },
            });
          });
        } catch (e) {
          console.error(e);
        }
      }
    };
    expose({
      reloadApi,
      updateMapData,
    });

    return {
      showDrawer,
      activeBikeShape,
      viewList,
      handlerList,
      handlerMapView,
    };
  },
});
</script>

<style scoped></style>
