<script lang="ts" setup>
import type { BikeShape } from "@/api/types/bike";
import type { PropType } from "vue";
import { defineProps, toRef } from "vue";
import GCard from "@/container/GCard.vue";

const props = defineProps({
  data: {
    type: Object as PropType<BikeShape>,
    default: () => ({}),
  },
  hover: Boolean,
});

const data = toRef(props, "data");
</script>

<template>
  <GCard
    :title="data.RouteName"
    :hover="hover"
    class="bike-shape-card"
    @click="(e) => $emit('click-card', e, data)"
  >
    <div class="item">
      <span class="item-cell"> 車道長度：{{ data.CyclingLength }}M </span>
    </div>

    <div class="item">
      <span class="line-height">起</span>
      {{ data.RoadSectionStart }}
    </div>
    <div class="item">
      <span class="line-height">迄</span>
      {{ data.RoadSectionEnd }}
    </div>
  </GCard>
</template>

<style lang="scss">
@import "~@/styles/_extend";

.bike-shape-card {
  cursor: pointer;
  .item {
    @extend %card-item;
  }
  .line-height {
    color: $color-success;
    padding-right: 10px;
  }
}
</style>
