<template>
  <BasicDrawer v-model="showDrawer" class="food" @on-scroll="handlerList">
    <FoodCard
      v-for="item of viewList"
      :key="item.Data.ID"
      :data="item.Data"
      :hover="item.Data.ID === activeFood"
      @click-card="() => handlerMapView(item)"
    >
    </FoodCard>
  </BasicDrawer>
</template>

<script lang="ts">
import type { City } from "@/shared/city";
import type { MapData } from "@/types/LMap";
import type { MapRestaurantInfo, Query } from "@/api/types/tourism";
import type { Ref } from "vue";

import BasicDrawer from "@/container/BasicDrawer.vue";
import FoodCard from "./FoodCard.vue";

import { defineComponent, ref, inject, computed } from "vue";
import { activeFood } from "@/store/food-store";
import useScrollPager from "@/utils/use-scroll-pager";
import { ApiTourism } from "@/api";
import { formatPicture, getKeyword } from "@/api/utils/query";
import { cityData } from "@/shared/city";
import { useCardContent } from "@/utils/food/food-card";

// assets
import IconActive from "@/assets/food-active.svg";
import IconNormal from "@/assets/food.svg";

export default defineComponent({
  name: "food",
  components: {
    BasicDrawer,
    FoodCard,
  },
  emits: ["click-marker"],
  setup(props, { expose, emit }) {
    const injectUpdateMapData =
      inject<(value: MapData[]) => void>("updateMapData");
    const queryCity = inject<City>("queryCity");
    const queryKeyword = inject<Ref<string>>("queryKeyword");
    const { pageIndex, handlerPage } = useScrollPager();

    let list = ref<MapData<MapRestaurantInfo>[]>([]);
    const showDrawer = ref(false);
    const viewList = computed(() => list.value.slice(0, pageIndex.value * 10));

    const handlerList = (e: Event) => {
      handlerPage(e, list.value);
    };
    const handlerMapView = (item: MapData<MapRestaurantInfo>) => {
      const onClose = () => {
        activeFood.value = "";
      };
      activeFood.value = item.Data.ID;
      const { PositionLat, PositionLon } = item.Data.Position;
      emit("click-marker", PositionLat, PositionLon, item, onClose);
    };

    const updateMapData = () => {
      injectUpdateMapData && injectUpdateMapData(list.value);
    };

    const reloadApi = async () => {
      if (!queryCity) {
        return;
      }
      list.value = [];
      for (const city of cityData) {
        const query: Query = {
          city: city.City,
          $filter: queryKeyword?.value
            ? getKeyword(queryKeyword.value, ["RestaurantName", "Description"])
            : "",
        };

        try {
          const data = await ApiTourism.getRestaurantList(query);

          data.forEach((item) => {
            const { Position } = item;
            const newPicture = formatPicture(item.Picture);
            const Data = { ...item, Picture: newPicture };
            const pop = useCardContent();
            list.value.push({
              MarkerClusterGroup: true,
              MarkerViewAuto: true,
              Position: {
                Marketers: [[Position.PositionLat, Position.PositionLon]],
              },
              Popup: pop(Data),
              PopupOptions: {
                className: "food-pop",
              },
              Data,
              Icon: () => IconNormal,
              IconActive: () => IconActive,
            });
          });
        } catch (e) {
          console.error(e);
        }
      }
    };
    expose({
      reloadApi,
      updateMapData,
    });

    return {
      activeFood,
      showDrawer,
      viewList,
      handlerList,
      handlerMapView,
    };
  },
});
</script>

<style scoped></style>
