@import './var';

%card-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: $color-font-assist;
    font-size: 14px;
}
%card-item__icon {
    margin-right: 10px;
    font-size: 16px;
    line-height: 1.2;
}
%link {
  display: inline-block;
  color: $color-link;
  font-size: 18px;
  width: 18px;
  height: 18px;
  text-decoration: none;
  padding: 8px;
  transition: $transition-time;
  border-radius: 50%;
  &:hover {
    background-color: rgba(0,0,0,0.1);
  }
}
%l-map-pop {
  .g-card {
    padding: 0;
  }
  .g-card__main {
    box-shadow: none;
  }
}
