@import './var';

@mixin btn-style($style: round) {
    color: inherit;
    border: 1px solid $color-border-base;
    padding: 8px 12px;
    background-color: white;
    transition: 0.25s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover,
    &.is-active {
        background-color: $color-primary;
        border: 1px solid $color-primary;
    }
    &.is-icon {
        padding: 0;
        width: 40px;
        height: 40px;
        .icon {
            font-size: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    @if $style == round {
        border-radius: 50px;
    }
    @if $style == square {
        border-radius: $radius-base;
    }
}

@mixin form-item() {
    width: 100%;
    height: 44px;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    padding: 10px 20px;
    padding-right: 18px + 15px + 20px;
    background-color: $color-input-background;
    border-radius: 50px;
    &__icon {
        font-size: 18px;
        position: absolute;
        right: 4px;
        top: 2px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        &.material-icons-outlined {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
