@import './var';

@mixin rwd($size, $range: min, $offset: 0) {
    @if $size == "tablet" {
        @media screen and (#{$range}-width: ($small - $offset)) {
            @content
        }
    };
    @if $size == "pc" {
        @media screen and (#{$range}-width: ($medium - $offset)) {
            @content
        }
    };
    @if $size == "pcXL" {
        @media screen and (#{$range}-width: ($large - $offset)) {
            @content
        }
    };
}