$color-primary: #FFB82E;
$color-assist: #41CD8A;
$color-success: #00A667;
$color-info: #005A7A;
$color-danger: #F85D5D;

$color-font-primary: #081B2C;
$color-font-assist: #081B2CCC;
$color-font-secondary: #081B2C61;
$color-link: $color-assist;

$color-input-background: #F5F7F9;

$color-border-base: #081B2C1F;

$shadow: 0px 3px 8px 0px #0000001F;

$radius-base: 8px;
$radius-lg: 12px;
$radius-xl: 16px;

$transition-time: 0.25s;

$small: 768px;
$medium: 1024px;
$large: 1200px;

$content-padding-tablet: 8px;
$content-padding-pc: 40px;
