@import './var';
@import './mixins-rwd';
@import "/extend";

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
}
body {
    color: $color-font-primary;
    font-size: 14px;
}
h1 {
    margin: 0;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
.material-icons-outlined {
    @extend .material-icons;
}

.g-content-padding {
    padding-left: $content-padding-tablet;
    padding-right: $content-padding-tablet;
    @include rwd('pc') {
        padding-left: $content-padding-pc;
        padding-right: $content-padding-pc;
    }
}

.g-tourism-card {
  .item {
    @extend %card-item;
    align-items: flex-start;
  }
  .icon {
    @extend %card-item__icon;
  }
  .link {
    @extend %link;
  }
  .icon {
    font-size: inherit;
  }
  .flex {
    display: flex;
    align-items: flex-start;
  }
  .slider-image {
    width: 100%;
    height: 90px;
    border-radius: $radius-base;
  }
}
