<script lang="ts" setup>
import type { MapScenicSpotInfo } from "@/api/types/tourism";
import type { PropType } from "vue";
import { defineProps, toRef } from "vue";
import GCard from "@/container/GCard.vue";
import Icon from "@/container/Icon.vue";
import SliderImage from "@/components/slider-image";

const props = defineProps({
  data: {
    type: Object as PropType<MapScenicSpotInfo>,
    default: () => ({}),
  },
  hover: Boolean,
});

const data = toRef(props, "data");

const images = data.value.Picture.map((item) => item.url);
</script>

<template>
  <GCard
    :title="data.ScenicSpotName"
    :hover="hover"
    class="g-tourism-card"
    @click="(e) => $emit('click-card', e, data)"
  >
    <template #header-slot>
      <div class="flex">
        <a
          v-if="data.WebsiteUrl"
          :href="data.WebsiteUrl"
          target="_blank"
          class="link"
        >
          <Icon name="insert_link" class="icon"></Icon>
        </a>
        <a :href="`tel:+${data.Phone}`" class="link">
          <Icon name="add_ic_call" class="icon"></Icon>
        </a>
      </div>
    </template>

    <div class="item">
      <SliderImage :images="images"></SliderImage>
    </div>
    <div class="item" v-if="data.OpenTime">
      <Icon name="add_business" class="icon"></Icon>
      {{ data.OpenTime }}
    </div>
    <div class="item" v-if="data.Address">
      <Icon name="location_on" class="icon"></Icon>
      {{ data.Address }}
    </div>
  </GCard>
</template>

<style lang="scss">
@import "~@/styles/_extend";
</style>
