<template>
  <BasicDrawer
    v-model="showDrawer"
    class="scenic-spot"
    @on-scroll="handlerList"
  >
    <ScenicSpotCard
      v-for="item of viewList"
      :key="item.Data.ID"
      :data="item.Data"
      :hover="item.Data.ID === activeScenicSpot"
      @click-card="() => handlerMapView(item)"
    >
    </ScenicSpotCard>
  </BasicDrawer>
</template>

<script lang="ts">
import type { City } from "@/shared/city";
import type { MapData } from "@/types/LMap";
import type { MapScenicSpotInfo, Query } from "@/api/types/tourism";
import type { Ref } from "vue";

import { defineComponent, ref, inject, computed } from "vue";

// component
import BasicDrawer from "@/container/BasicDrawer.vue";
import ScenicSpotCard from "./ScenicSpotCard.vue";

// data
import { activeScenicSpot } from "@/store/scenic-spot-store";
import { cityData } from "@/shared/city";

// utils
import useScrollPager from "@/utils/use-scroll-pager";
import { formatPicture, getKeyword } from "@/api/utils/query";
import { useCardContent } from "@/utils/scenic-spot/scenic-spot-card";

// api
import { ApiTourism } from "@/api";

// assets
import IconActive from "@/assets/scenic-spot-active.svg";
import IconNormal from "@/assets/scenic-spot.svg";

export default defineComponent({
  name: "scenic-spot",
  components: {
    BasicDrawer,
    ScenicSpotCard,
  },
  emits: ["click-marker"],
  setup(props, { expose, emit }) {
    const injectUpdateMapData =
      inject<(value: MapData[]) => void>("updateMapData");
    const queryCity = inject<City>("queryCity");
    const queryKeyword = inject<Ref<string>>("queryKeyword");
    const { pageIndex, handlerPage } = useScrollPager();

    let list = ref<MapData<MapScenicSpotInfo>[]>([]);
    const showDrawer = ref(false);
    const viewList = computed(() => list.value.slice(0, pageIndex.value * 10));

    const handlerList = (e: Event) => {
      handlerPage(e, list.value);
    };
    const handlerMapView = (item: MapData<MapScenicSpotInfo>) => {
      const onClose = () => {
        activeScenicSpot.value = "";
      };
      activeScenicSpot.value = item.Data.ID;
      const { PositionLat, PositionLon } = item.Data.Position;
      emit("click-marker", PositionLat, PositionLon, item, onClose);
    };

    const updateMapData = () => {
      injectUpdateMapData && injectUpdateMapData(list.value);
    };

    const reloadApi = async () => {
      if (!queryCity) {
        return;
      }
      list.value = [];

      for (const city of cityData) {
        const query: Query = {
          city: city.City,
          $filter: queryKeyword?.value
            ? getKeyword(queryKeyword.value, ["ScenicSpotName", "Description"])
            : "",
        };

        try {
          const data = await ApiTourism.getScenicSpotList(query);

          data.forEach((item) => {
            const { Position } = item;
            const newPicture = formatPicture(item.Picture);
            const Data = { ...item, Picture: newPicture };
            const pop = useCardContent();
            list.value.push({
              MarkerClusterGroup: true,
              MarkerViewAuto: true,
              Position: {
                Marketers: [[Position.PositionLat, Position.PositionLon]],
              },
              Popup: pop(Data),
              PopupOptions: {
                className: "scenic-spot-pop",
              },
              Data,
              Icon: () => IconNormal,
              IconActive: () => IconActive,
            });
          });
        } catch (e) {
          console.error(e);
        }
      }
    };
    expose({
      reloadApi,
      updateMapData,
    });

    return {
      activeScenicSpot,
      showDrawer,
      viewList,
      handlerList,
      handlerMapView,
    };
  },
});
</script>
<style lang="scss">
@import "~@/styles/_extend";

.bike {
}
</style>
