<template>
  <BasicDrawer v-model="showDrawer" class="bike" @on-scroll="handlerBikeList">
    <BikeCard
      v-for="bike of bikeSmList"
      :key="bike.Data.StationUID"
      :bike="bike.Data"
      :hover="bike.Data.StationID === activeBike"
      @click-card="() => handlerMapView(bike)"
    >
    </BikeCard>
  </BasicDrawer>
</template>

<script lang="ts">
import type { City } from "@/shared/city";
import type { Bike } from "@/utils/bike/bike-list";
import type { MapData } from "@/types/LMap";
import type {
  CityQuery,
  BikeStation,
  BikeShape,
  BikeAvailability,
} from "@/api/types/bike";
import { defineComponent, ref, inject, computed } from "vue";
import BasicDrawer from "@/container/BasicDrawer.vue";
import BikeCard from "./BikeCard.vue";

import { getBikeList } from "@/utils/bike/bike-list";
import useScrollPager from "@/utils/use-scroll-pager";
import { activeBike } from "@/store/bike-store";

import { ApiBike } from "@/api";

export default defineComponent({
  name: "bike",
  components: {
    BasicDrawer,
    BikeCard,
  },
  emits: ["click-marker"],
  setup(props, { expose, emit }) {
    const showDrawer = ref(false);
    const injectUpdateMapData =
      inject<(value: MapData[]) => void>("updateMapData");
    const queryCity = inject<City>("queryCity");

    let bikeList = ref<MapData<Bike>[]>([]);
    const bikeSmList = computed(() =>
      bikeList.value.slice(0, pageIndex.value * 10)
    );

    const { pageIndex, handlerPage } = useScrollPager();

    const handlerBikeList = (e: Event) => {
      handlerPage(e, bikeList.value);
    };
    const handlerMapView = (bike: MapData<Bike>) => {
      const onClose = () => {
        activeBike.value = "";
      };
      if (bike.Data.ServiceStatus === 1) {
        activeBike.value = bike.Data.StationID;
        const { PositionLat, PositionLon } = bike.Data.StationPosition;
        emit("click-marker", PositionLat, PositionLon, bike, onClose);
      }
    };

    const updateMapData = () => {
      injectUpdateMapData && injectUpdateMapData(bikeList.value);
    };

    const reloadApi = async () => {
      if (!queryCity) {
        return;
      }
      const query: CityQuery = {
        City: queryCity?.City,
      };

      try {
        const station: BikeStation[] = await ApiBike.getBikeStationList(query);
        const availability: BikeAvailability[] =
          await ApiBike.getBikeAvailabilityList(query);

        bikeList.value = getBikeList(station, availability);
      } catch (e) {
        console.error(e);
      }
    };
    expose({
      reloadApi,
      updateMapData,
    });

    return {
      activeBike,
      showDrawer,
      bikeSmList,
      handlerBikeList,
      handlerMapView,
    };
  },
});
</script>

<style lang="scss">
@import "~@/styles/_extend";

.bike-pop {
  @extend %l-map-pop;
}
</style>
