<script lang="ts" setup>
import type { Bike } from "@/utils/bike/bike-list";
import type { PropType } from "vue";
import { defineProps, toRef } from "vue";
import GCard from "@/container/GCard.vue";
import Icon from "@/container/Icon.vue";
import CardBikeStatus from "@/container/BikeStatus.vue";
import { getTitle } from "@/utils/bike/bike-card";

const props = defineProps({
  bike: {
    type: Object as PropType<Bike>,
    default: () => ({}),
  },
  hover: Boolean,
});

const bike = toRef(props, "bike");
</script>

<template>
  <GCard
    :title="getTitle(bike)"
    :disabled="bike.ServiceType !== 1"
    :hover="hover"
    class="bike-card"
    @click="(e) => $emit('click-card', e, bike)"
  >
    <div class="bike-card__item">
      <Icon name="location_on" class="bike-card__icon"></Icon>
      {{ bike.StationAddress?.Zh_tw }}
    </div>
    <CardBikeStatus
      :station="bike.AvailableRentBikes"
      :availability="bike.AvailableReturnBikes"
    ></CardBikeStatus>
  </GCard>
</template>

<style lang="scss">
@import "~@/styles/_extend";

.bike-card {
  cursor: pointer;
  &__item {
    @extend %card-item;
  }
  &__icon {
    @extend %card-item__icon;
  }
}
</style>
