<template>
  <!-- Suspense -->
  <div class="layout">
    <LayoutHeaderVue
      @search="search"
      @click-menu-item="($event) => handlerPage($event)"
    ></LayoutHeaderVue>
    <LMap ref="refLMap" :map-data="mapData">
      <loading
        :active="isLoading"
        :is-full-page="false"
        color="#FFB82E"
        loader="bars"
      />
      <keep-alive>
        <component
          :is="componentName"
          :ref="(el) => (refComponent = el)"
          @click-marker="handlerViewMarker"
          @click-markerLine="handlerViewMarkerLine"
        ></component>
      </keep-alive>
    </LMap>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  computed,
  provide,
  reactive,
  onMounted,
} from "vue";
import type { ComponentPublicInstance, Ref } from "vue";
import type { MapData } from "./types/LMap";
import type { City } from "@/shared/city";

import { nextTick } from "vue";
import LayoutHeaderVue from "./container/LayoutHeader.vue";
import LMap from "./container/LMap.vue";
import Bike from "./views/bike/Bike.vue";
import BikeShape from "./views/bike-shape/BikeShape.vue";
import Food from "./views/food/Food.vue";
import ScenicSpot from "./views/scenic-spot/ScenicSpot.vue";

import { cityData } from "@/shared/city";

type ComponentName = "Bike" | "BikeShape" | "Food" | "ScenicSpot";

export default defineComponent({
  name: "app",
  components: {
    LayoutHeaderVue,
    LMap,
    Bike,
    BikeShape,
    Food,
    ScenicSpot,
  },
  setup() {
    const loadingTotal = ref(0);
    const isLoading = computed(() => loadingTotal.value > 0);

    const componentName = ref<ComponentName>("Bike");
    const refComponent = ref<ComponentPublicInstance<any>>(null);
    const refLMap = ref<typeof LMap>(LMap);

    const queryCity = reactive<City>({ ...cityData[0] });
    const queryKeyword = ref("");
    let mapData = ref<MapData[]>([]);

    const updateQueryCity = (value: City) => {
      Object.assign(queryCity, value);
    };
    const updateQueryKeyword = (value: string) => {
      queryKeyword.value = value;
    };
    const updateMapData = (value: MapData[]) => {
      mapData.value = value;
    };

    provide("componentName", componentName);
    provide("queryKeyword", queryKeyword);
    provide("queryCity", queryCity);
    provide("updateQueryCity", updateQueryCity);
    provide("updateQueryKeyword", updateQueryKeyword);
    provide("mapData", mapData);
    provide("updateMapData", updateMapData);

    const handlerPage = (page: ComponentName) => {
      componentName.value = page;
      nextTick(() => {
        search();
      });
    };

    const handlerViewMarker = (
      lat: number,
      lon: number,
      mapData: MapData<any>,
      callback?: () => void
    ) => {
      refLMap.value.setFocus({
        lat,
        lon,
        zoom: 19,
      });

      const marker = refLMap.value.openPop(lat, lon);
      if (callback) {
        marker.on("popupclose", callback);
      }
    };

    const handlerViewMarkerLine = (data: MapData<any>) => {
      refLMap.value.clearMarker();
      const { Polyline, Marketers } = data.Position;

      if (Polyline) {
        refLMap.value.rectMarker([data]);
      }
      if (Marketers) {
        const lat = Marketers[0][0];
        const lon = Marketers[0][1];
        refLMap.value.setFocus({
          lat,
          lon,
          zoom: 17,
        });
      }
    };

    const search = async () => {
      if (loadingTotal.value > 0) {
        return;
      }

      updateMapData([]);
      loadingTotal.value++;

      await refComponent.value.reloadApi();
      await refComponent.value.updateMapData();

      const data = mapData.value[0];

      refLMap.value.clearMarker();

      if (!data.MarkerViewAuto) {
        loadingTotal.value--;
        return;
      }

      refLMap.value.rectMarker();
      if (data) {
        refLMap.value.setFocus(
          (() => {
            return {
              lat: data.Position.Marketers?.[0][0],
              lon: data.Position.Marketers?.[0][1],
            };
          })()
        );
      }

      loadingTotal.value--;
    };

    onMounted(() => {
      search();
    });

    return {
      refLMap,
      isLoading,
      search,
      mapData,
      componentName,
      refComponent,
      handlerViewMarker,
      handlerViewMarkerLine,
      handlerPage,
    };
  },
});
</script>

<style lang="scss">
@import "~@/styles/index";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  .l-map {
    flex-grow: 1;
  }
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 2s;
}
</style>
