<template>
  <div :class="['g-drawer', direction, { 'is-show': modelValue }]">
    <div
      :class="[
        'g-drawer__background',
        { 'is-wrapper-closable': wrapperClosable },
      ]"
      @click="onClickBackground"
    ></div>

    <div class="g-drawer__main" ref="drawerMain">
      <slot name="close-btn">
        <span class="g-drawer__icon" v-if="showClose">
          <span @click="handlerClose">關閉</span>
        </span>
      </slot>
      <div
        class="g-drawer__scroll"
        @scroll.passive="($event) => $emit('on-scroll', $event)"
      >
        <slot />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { ScrollToOptions } from "./types";
import { defineComponent, ref, computed, toRefs, nextTick } from "vue";

export default defineComponent({
  name: "g-drawer",
  props: {
    modelValue: {
      type: Boolean,
      default: false,
    },
    showClose: {
      type: Boolean,
      default: true,
    },
    wrapperClosable: {
      type: Boolean,
      default: false,
    },
    direction: {
      type: String,
      default: "left" as "left" | "right" | "bottom" | "top",
    },
  },
  emits: ["update:modelValue", "change", "on-scroll"],
  setup(props, { emit }) {
    const drawerMain = ref<HTMLDivElement | null>(null);
    const { direction } = toRefs(props);
    const transitionClass = computed(() => `fede-${direction}`);
    const handlerClose = () => {
      emit("update:modelValue", false);
      emit("change", false);
    };
    const onClickBackground = () => {
      if (props.wrapperClosable) {
        handlerClose();
      }
    };
    const scrollTo = (options: ScrollToOptions = {}): void => {
      if (!drawerMain.value) {
        return;
      }
      const ref = drawerMain.value as HTMLDivElement;
      nextTick(() => {
        if (ref) {
          ref.scrollTo({
            top: 0,
            behavior: "smooth",
            ...(options || {}),
          });
        }
      });
    };
    return {
      drawerMain,
      transitionClass,
      handlerClose,
      onClickBackground,
      scrollTo,
    };
  },
});
</script>

<style lang="scss" src="./style.scss"></style>
