@import '~@/styles/_var';

.g-drawer {
  &__background {
    position: fixed;
    pointer-events: none;
    &.is-wrapper-closable {
      pointer-events: inherit;
    }
  }
  &__scroll {
    padding: 32px;
    border-radius: $radius-base;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: $transition-time;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  &__main {
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 320px;
    max-width: 320px;
    width: 40%;
    box-sizing: border-box;
    z-index: 400;
    // box-shadow: -2px 3px 12px #00000026;
    transition: $transition-time;
    will-change: transform;
  }

  &__icon {
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top:0;
  }

  &.left {
    .g-drawer__main {
      left: 0;
      transform: translateX(-320px);
    }
    .g-drawer__scroll {
      opacity: 0;
    }
  }

  &.right {
    .g-drawer__main {
        right: -320px;
        transition: 0.5s;
      }
  }
  &.bottom {
    .g-drawer__main {
      bottom: 0;
    }
  }
  &.top {
    .g-drawer__main {
      top: 0;
    }
  }

  &.is-show {
    .g-drawer__background {
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: rgba(255,255,255, 0.3);
      z-index: 10;
    }
    &.left {
      .g-drawer__main {
        transform: translateX(0);
      }
      .g-drawer__scroll {
        opacity: 1;
        transition: $transition-time ease-in;
      }
    }

    &.right {
      .g-drawer__main {
        right: 0;
        transition: $transition-time ease-out;
      }
    }
    &.bottom {
      .g-drawer__main {
        bottom: 0;
      }
    }
    &.top {
      .g-drawer__main {
        top: 0;
      }
    }
  }
}

